name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
    - name:  Checkout code
      uses: actions/checkout@v4

    - name:  Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name:  Install dependencies
      run: |
        pip install -r requirements.txt

    - name:  Run tests
      run: |
        echo "No tests yet"
        # pytest si tu en ajoutes plus tard


  docker:
    runs-on: ubuntu-latest
    needs: test  

    steps:
    - name:  Checkout code
      uses: actions/checkout@v4

    - name:  Build Docker image
      run: |
        docker build -t mlops-api .
